.movie-details-container {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.movie-content {
  display: flex;

  img {
    width: 100%;
    height: 100;
    object-fit: cover;
  }

  .movie-info {
    padding-inline: 2rem;

    .rating {
      margin-right: 1rem;
    }
    & h1 {
      margin: 0;
      font-size: 2rem;
    }

    .sub-info {
      border-block: 1px solid rgba(255, 255, 255, 0.07);
      padding-block: 1rem;
      font-size: 1rem;

      margin-block: 1.5rem;

      span {
        margin-right: 2rem;
      }
    }

    .movie-description {
      font-size: 1rem;
    }
  }
}

.related-movies {
  margin-top: 2rem;

  img {
    margin-right: 2rem;
    width: 100%;
    height: 200px;
    // height: 100%;
    object-fit: cover;
  }
}
