<div class="movie-details-container">
  <ng-container *ngIf="movie$ | async as movie; else loading">
    <div class="movie-content">
      <div style="width: 200px">
        <img [src]="movie.image" [alt]="movie.name" />
      </div>
      <div class="movie-info">
        <div
          style="
            display: flex;
            justify-content: flex-start;
            align-items: center;
          "
        >
          <span class="rating">5</span>
          <h1>{{ movie.name }}</h1>
        </div>
        <div class="sub-info">
          <span>{{ "Year: " + movie.year }}</span>
          <span>{{ "Duration: " + movie.duration }}</span>
        </div>
        <div class="movie-description">{{ movie.description }}</div>
        <div>{{ movie.cast }}</div>
      </div>
      <div class="movie-actions">
        <ul>
          <li>Trailer</li>
          <li>Watch movie</li>
          <li>Download</li>
        </ul>
      </div>
    </div>

    <div class="related-movies">
      <h2>Recommended movies</h2>
      <div style="display: flex; overflow-x: auto">
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
      </div>
    </div>

    <div class="related-movies">
      <h2>Related movies</h2>
      <div style="display: flex; overflow-x: auto">
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
        <img [src]="movie.image" [alt]="movie.name" />
      </div>
    </div>
  </ng-container>

  <ng-template #loading><h1>Loading...</h1></ng-template>
</div>
