<h2 mat-dialog-title>
  {{ data.slug ? "Update movie" : "Add new Movie" }}
</h2>
<mat-dialog-content class="mat-typography">
  <form *ngIf="movie | async as mv; else loading" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput id="description" formControlName="description" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput id="duration" formControlName="duration" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <input matInput id="year" formControlName="year" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cast</mat-label>
      <input matInput id="cast" formControlName="cast" />
    </mat-form-field>

    <app-upload-image
      [imageURL]="mv.image"
      (imageChange)="onImageChange($event)"
    ></app-upload-image>
  </form>

  <ng-template #loading> Loading movie... </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="submit()">
    {{ data.slug ? "Update" : "Add" }}
  </button>
</mat-dialog-actions>
