.auth-layout {
  background-color: #2f2f2f;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #212020;
    width: 30%;
    min-height: 80%;
    border-radius: 0.5rem;

    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
