<mat-form-field>
  <input
    matInput
    style="width: 100%"
    [value]="selectedFileName.length ? selectedFileName : 'Select Image'"
    readonly
  />

  <input
    type="file"
    id="fileInput"
    accept="image/*"
    [multiple]="false"
    (change)="selectFile($event)"
  />
</mat-form-field>

<div>
  <img [src]="preview" class="preview" />
</div>
