#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

mat-form-field {
  width: 100%;
  input {
    width: 100%;
  }
}

.preview {
  max-width: 200px;
  vertical-align: middle;
}
