<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img [src]="movie.image" [alt]="movie.name" />
      <span class="movie-details__quality">4k Vietsub</span>
      <span class="movie-details__year">{{ movie.year }}</span>
    </div>
    <div class="flip-card-back">
      <div class="movie-details">
        <h2 class="movie-details__title" [title]="movie.name">
          {{ movie.name }}
        </h2>
        <p class="movie-details__description">{{ movie.description }}</p>
        <div class="movie-details__footer">
          <div class="movie-sub-content">
            <span class="movie-rating">{{ movie.duration }}</span>
            <span class="movie-date">{{ movie.year }}</span>
          </div>
          <button
            mat-raised-button
            color="warn"
            (click)="onVieDetailClick(movie?.slug || '')"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
