.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  margin: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background: linear-gradient(
    to bottom,
    rgba(29, 27, 36, 0) 0,
    black 40%,
    black 100%
  );
  color: white;
  transform: rotateY(180deg);
}
.movie-details {
  padding: 1.75rem;
  background: #000;
  border-radius: 4px;
  overflow: hidden;

  &__quality {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    padding: 4px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    background: #e50914 !important;
  }

  &__year {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 5px;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;
  }

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  &__description {
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    text-align: center;
    padding: 70px 10px 10px;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(
      to bottom,
      rgba(29, 27, 36, 0) 0,
      black 40%,
      black 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.movie-sub-content {
  display: flex;
  justify-content: space-between;
  .movie-rating {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
    padding-bottom: 10px;
    z-index: 1;
  }
  .movie-date {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 1px;
    padding-right: 10px;
    z-index: 1;
  }
}
