mat-paginator {
    width: 100%;
    ::ng-deep .mat-mdc-paginator-container {
      justify-content: space-between;
    }
    ::ng-deep .mat-mdc-paginator-range-label {
      display: none;
    }
  }
