<form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput id="name" formControlName="name" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput id="username" formControlName="username" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        formControlName="password"
        type="password"
      />
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary" type="submit">Register</button>
  <br />
  <button mat-flat-button color="primary" [routerLink]="['/auth', 'login']">
    Login
  </button>
  <br />
  <button mat-flat-button color="primary" [routerLink]="['/']">Home</button>
</form>

<pre>{{ registerForm.value | json }}</pre>
