<div class="admin-layout">
  <header>
    <button mat-flat-button color="primary" [routerLink]="['/']">Home</button>

    <app-user-info></app-user-info>
  </header>
  <main>
    <div class="site-bar">
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/admin', 'movies']"
      >
        Movies
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/admin', 'types']"
      >
        Types
      </button>
    </div>
    <div class="site-content"><router-outlet></router-outlet></div>
  </main>
</div>
