.admin-layout {
  background-color: #2f2f2f;
  background-size: cover;
  min-height: 100vh;
  padding: 0px 10%;

  display: flex;
  flex-direction: column;

  header {
    height: 100px;
    background-color: #151111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
  }

  main {
    flex: 1;
    background-color: #191717;

    display: flex;

    .site-bar {
      width: 6rem;
      background-color: #212020;
    }

    .site-content {
      flex: 1;
      padding: 1rem;
      width: 100%;
    }
  }
}
