<div class="main-layout">
  <header>
    <button mat-flat-button color="primary" [routerLink]="['/']">Home</button>

    <app-user-info></app-user-info>
  </header>
  <main>
    <!-- <div class="site-bar">Sidebar</div> -->
    <div class="site-content"><router-outlet></router-outlet></div>
  </main>
</div>
