<h2 mat-dialog-title>
  {{ data.movieType ? "Update" : "Add" }}
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" />
    </mat-form-field>
  </form>

  <ng-template #loading> Loading... </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="submit()">Submit</button>
</mat-dialog-actions>
