<h2 mat-dialog-title>User profile</h2>
<mat-dialog-content class="mat-typography">
  <form *ngIf="user$ | async as u; else loading" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" />
    </mat-form-field>

    <app-upload-image
      [imageURL]="u.avatar"
      (imageChange)="onImageChange($event)"
    ></app-upload-image>
  </form>

  <ng-template #loading> Loading user... </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="submit()">Update</button>
</mat-dialog-actions>
