<div class="movies-container">
  <div class="movies-toolbar">
    <span style="margin-right: 1rem">Sort by:</span>
    <mat-select [(ngModel)]="sortOrder" placeholder="sort order">
      <mat-option [value]="1"> Ascending </mat-option>
      <mat-option [value]="-1"> Decrease </mat-option>
    </mat-select>

    <mat-select [(ngModel)]="sortField" placeholder="sort filed">
      <mat-option value="name"> Name </mat-option>
      <mat-option value="year"> Year </mat-option>
    </mat-select>
  </div>
  <div class="movies-list">
    <ng-container
      *ngFor="
        let movie of movies?.data || [] | sortMovie : sortOrder : sortField
      "
    >
      <app-movie-card [movie]="movie"></app-movie-card>
    </ng-container>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [pageSize]="pageSize"
      [length]="length"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[12, 50, 100]"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
