.movies-container {
  display: flex;
  flex-direction: column;

  .movies-toolbar {
    display: flex;
    padding: 1rem;
    mat-select {
      width: 10rem;
      color: white;
      margin-inline: 1rem;
    }
  }

  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    app-movie-card {
      // width: 30%;
    }
    mat-paginator {
      width: 100%;
      ::ng-deep .mat-mdc-paginator-container {
        justify-content: space-between;
      }
      ::ng-deep .mat-mdc-paginator-range-label {
        display: none;
      }
    }
  }
}
