<button
  *ngIf="!user; else logged"
  mat-flat-button
  color="primary"
  [routerLink]="['/auth', 'login']"
>
  Login
</button>
<ng-template #logged>
  <button mat-button [matMenuTriggerFor]="menu">
    <div style="display: flex; align-items: center">
      <img
        mat-card-image
        [src]="
          user?.avatar ||
          'https://material.angular.io/assets/img/examples/shiba2.jpg'
        "
        alt="Photo of a Shiba Inu"
      />
      <span style="margin-left: 1rem">{{ user?.name }}</span>
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openUserModal()">Profile</button>
    <button
      *ngIf="user?.role === 'admin'"
      mat-menu-item
      [routerLink]="['/admin']"
    >
      Admin
    </button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <!-- {{ user | json }} -->
</ng-template>
